@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="row mx-auto justify-content-center col-lg-4 col-md-6 col-sm-11">
    <div class="card login-logout-card">
        <div class="card-header pt-4" style="background:linear-gradient( to bottom right, rgb(175, 5, 5), rgba(0, 55, 123, 0.93));">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="/Identity/Account/Login"><strong>@_localization.Getkey("str_Login")</strong></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Identity/Account/Register"><strong>@_localization.Getkey("str_Register")</strong></a>
                </li>
            </ul>
        </div>
        <div class="card-body pb-3">
            <div class="row justify-content-center">
                <div class="col-10 my-4">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        $(function () {
            const currentPage = location.pathname;
            $('.nav-tabs li a').each(function () {
                const $this = $(this);
                if (currentPage.toLowerCase().indexOf($this.attr('href').toLowerCase()) !== -1) {
                    $this.addClass('active');
                }
            })
        })
    </script>
}