@using EntityLayer.Concrete
@model List<Department>
<table class="table">
    <tr>
        <th>Name</th>
        <th>About</th>
        <th>Button</th>
        <th>Button</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.DepartmentName</td>
            <td class="text-wrap">@item.DepartmentAbout</td>
            <td><a href="/Reservation/Index/@item.DepartmentID" class="btn btn-warning">Choose</a></td>
        </tr>
    }
</table>

