@using EntityLayer.Concrete
@model List<AboutUs>
@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach(var item in Model)
{
    <div class="mx-auto col-lg-6 col-md-9 col-sm-11 bg-white px-3 py-3">
        <table class="table table-bordered mx-auto justify-content-center">
            <tr>
                <td class="text-center">
                    <strong>@item.Title</strong>
                </td>
            </tr>
            <tr>
                <td class="text-center">
                    <img src="@item.Image" width="200px" alt="">
                </td>
            </tr>
            <tr>
                <td class="px-4">
                    <p>@item.Detail</p>
                </td>
            </tr>
        </table>
    </div>
}

