@model EntityLayer.Concrete.Doctor
@{
    ViewData["Title"] = "GetDoctor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="mx-auto col-lg-6 col-md-9 col-sm-11 bg-white px-3 py-3">
    <table class="table table-bordered mx-auto justify-content-center">
        <tr>
            <td class="text-center">
                <img src="@Model.Image" width="200 px" alt="">
            </td>
        </tr>
        <tr>
            <td class="text-center">
                <strong>@Model.DoctorName</strong>  -  @Model.Department.DepartmentName
            </td>
        </tr>
        <tr>
            <td class="px-4">
                <p>@Model.DoctorAbout</p>
            </td>
        </tr>
    </table>
</div>
