
@{
    ViewData["Title"] = "Departments";
    Layout = "~/Views/Shared/_AdminPanel.cshtml";
}

<table class="table">
    <tr>
        <th><h3>Departments</h3></th>
        <th class="text-end"><button class="btn btn-success">Veri girişi</button></th>
    </tr>
</table>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Button</th>
    </tr>
</table>

