
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminPanel.cshtml";
}

<table class="table">
    <tr>
        <th class="text-center"><img src="~/img/pp.jpg" width="200px"/></th>
    </tr>
    <tr>
        <th>ISIM - SOYISIM</th>
    </tr>
    <tr>
        <td>
            Hakkında
        </td>
    </tr>
</table>

