
@{
    ViewData["Title"] = "Ships";
    Layout = "~/Views/Shared/_AdminPanel.cshtml";
}

<table class="table">
    <tr>
        <th><h3>Ships</h3></th>
        <th class="text-end"><button class="btn btn-success">Veri girişi</button></th>
    </tr>
</table>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Ship Start</th>
        <th>Ship End</th>
        <th>Break Start</th>
        <th>Break End</th>
        <th>Button</th>
        <th>Button</th>
    </tr>
</table>

