@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
.menu{
    background-color:#d9efff;
    font-weight:600;
    margin-bottom:20px;
}
body, main{
    border:none;
}
.menu li:not(:last-child){
    border-right:1px solid #d4cece;
}
.hospital-logo {
    font-weight: bolder;
    color: black;
    font-family: 'Bree Serif', serif;
}