@using EntityLayer.Concrete
@model List<Department>
@{
    ViewData["Title"] = "Departments";
    Layout = "~/Views/Shared/_AdminPanel.cshtml";
}


<div class="row">
    <div class="col-md-4 col-sm-12">

        <h6 class="text-center">DEPARTMENT PROCESS</h6><hr />
        <input class="d-block col-12 mb-2" type="text" placeholder="Department ID" id="id" />
        <input class="d-block col-12 mb-2" type="text" placeholder="Department Name" id="name" />
        <textarea class="d-block col-12 mb-2" type="text" placeholder="Department About" id="about"></textarea>

        <div class="row">
            <button type="button" id="btnDelDeptBy" class="btn btn-outline-danger col"> Delete </button>
            <button type="button" id="btnUpDeptBy" class="btn btn-outline-primary col"> Update </button>
            <button type="button" id="btnAddDeptBy" class="btn btn-outline-success col"> Add </button>
        </div>
    </div>
    <div class="col-md-8 col-sm-12">
        <h6 class="text-center">DEPARTMENTS</h6><hr />
        <table class="table table-bordered">
            <tr>
                <th>
                    #
                </th>
                <th>
                    Name
                </th>
                <th>
                    About
                </th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.DepartmentID</td>
                    <td>@item.DepartmentName</td>
                    <td>@item.DepartmentAbout</td>
                </tr>
            }
        </table>
    </div>
</div>

@section Scripts {

    <script>
        $("#btnAddDeptBy").click(function () {
            let department = {
                DepartmentName: $("#name").val(),
                DepartmentAbout: $("#about").val()
            };
            $.ajax({
                type: "post",
                url: "/Admin/AddDepartment/",
                data: department,
                success: function (func) {
                    alert("Department Added");
                    window.location.reload(1);
                }
            });
        });

        $("#btnDelDeptBy").click(x => {
            let id = $("#id").val();
            $.ajax({
                url: "/Admin/DeleteDepartment/",
                data: { delid: id },
                type: "post",
                dataType: "json",
                success: function (func) {
                    alert("Department Deleted");
                    window.location.reload(1);
                }
            });
        });

        $("#btnUpDeptBy").click(function () {
            let dept = {
                DepartmentID: $("#id").val(),
                DepartmentName: $("#name").val(),
                DepartmentAbout: $("#about").val()
            };
            $.ajax({
                url: "/Admin/UpdateDepartment/",
                data: dept,
                type: "post",
                success: function (func) {
                    alert("Department Updated");
                    window.location.reload(1);
                }
            });
        });
    </script>

}